.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 98%;
    gap: 15px;
    padding: 0;
    margin: 15px auto;


}

.gallery__container {
    margin: auto;
    text-align: center;

}